{% extends "layout.html" %}
{% block body %}
<h2>Let's Get Started!</h2>
<div style="margin:15px; width: 60%" class="panel-group">
  <div class="panel panel-primary">
    <div class="panel-heading">Upload Pictures for Work Order</div>
    <div class="panel-body"><button class='btn btn-primary' onclick="window.location.href='{{ url_for('uploadPics') }}'">Pictures</button></div>
  </div>
</div>
<div style="margin:15px; width: 60%" class="panel-group">
  <div class="panel panel-success">
    <div class="panel-heading">Check In or Check Out</div>
    <div class="panel-body"><button class='btn btn-primary' onclick="window.location.href='{{ url_for('checkin') }}'">Checkin</button></div>
  </div>
</div>
<div style="margin:15px; width: 60%" class="panel-group">
  <div class="panel panel-danger">
    <div class="panel-heading">Upload and Sign Documents</div>
    <div class="panel-body"><button class='btn btn-primary' onclick="window.location.href='{{ url_for('uploadDocs') }}'">Documents</button></div>
  </div>
</div>

{% endblock %}
