{% extends "layout.html" %}
{% block body %}
<script type="text/javascript" src="{{ url_for('static', filename='js/testConfig.js') }}"></script>
<center>
  <h2>Upload Pictures</h2>
  <form style="width:50%" action="{{ url_for('uploadPicsToFolder') }}" method=post enctype="multipart/form-data">
    <div class="form-group">
      <label for="title">Work Order Number:</label>
      <input type="number" class="form-control" id="title" name="orderNum" required>
    </div>
    <div class="form-group">
      <label for="before">Before Pictures:</label>
      <input type="file" accept="image/*" capture="camera" class="form-control-file" id="before" name="before" multiple>
      <small id="fileHelp" class="form-text text-muted">Upload Before Pictures</small>
    </div>
    <div class="form-group">
      <label for="after">After Picture</label>
      <input type="file" class="form-control-file" id="after" name="after" multiple>
      <small id="fileHelp" class="form-text text-muted">Upload After Pictures</small>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</center>
{% endblock %}
